* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: #171717;
}

window#waybar.hidden {}

/*
window#waybar.empty {}
window#waybar.solo {}
*/

window#waybar.termite {}

window#waybar.chromium {}

button {}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border: none;
    transition: none;
}

#workspaces button {}

#workspaces button:hover {}

#workspaces button.focused {}

#workspaces button.urgent {}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#tray,
#window,
#workspaces {}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {}

#battery {}

#battery.charging, #battery.plugged {}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {}

label:focus {}

#cpu {}

#memory {}

#disk {}

#network {}

#network.disconnected {}

#pulseaudio {}

#pulseaudio.muted {}

#wireplumber {}

#wireplumber.muted {}

#temperature {}

#temperature.critical {}

#tray {}

#tray > .passive {}

#tray > .needs-attention {}

#privacy {}

#privacy-item {}

#privacy-item.screenshare {}

#privacy-item.audio-in {}

#privacy-item.audio-out {}
